# Permitir acceso a archivos PHP
<FilesMatch "\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Prevenir acceso directo a archivos de configuración
<FilesMatch "^(config|\.htaccess)">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteEngine On

# Evitar redirección infinita
RewriteCond %{REQUEST_URI} ^/Project-Front/?$ [NC]
RewriteRule ^.*$ /Project-Front/welcome.php [L,R=302]